*{
	padding: 0%;
	margin: 0%;
}

body{
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap:wrap-reverse;
}

.shadiao{
	width: 1200px;
	height: 0px;
}
p{
	font-size: 3vw;
	color: #b4aaa1;
}

.page{
	width: 1200px;
	height: 600px;
	/* margin: auto;
	margin-top: 80px; */
	display: flex;
	justify-content: space-between;
	/* transition:all 2s; */
}

.text{
	/* float: left; */
	/* margin-top: 80px; */
}
.text1{
	width: 310px;
	height: 415px;
	background: url(../img/sprite.png);
	background-position: -270px 0px;
}
.text2{
	width: 270px;
	height: 415px;
	background: url(../img/sprite.png);
	background-position: 0px 0px;
}
.text3{
	width: 280px;
	height: 415px;
	background: url(../img/sprite.png);
	background-position: -585px 0px;
	
}
.text5{
	width: 295px;
	height: 408px;
	background: url(../img/sprite.png);
	background-position: 0px -420px;
}

.imgs{
	width: 1050px;
	height: 600px;
	display: flex;
	align-items: center;
	justify-content:space-around;
	/* float: left; */
	/* overflow: hidden; */
}

.img{
	width: 600px;
	height: 600px;
	/* float: left; */
}
.img img{
	max-width: 100%;
	max-height: 100%;
}

.button{
	width: 120px;
	height: 600px;
	/* float: right; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.btn{
	width: 120px;
	height: 120px;
	/* float: left; */
	/* margin-top: 25px; */
	cursor: pointer;
}
.btn0{
	background: url(../img/t1.png);
	background-size:100%;
}
.btn0s{
	background: url(../img/t1_on.png);
	background-size:100%;
}
.btn0:hover{
	background: url(../img/t1_on.png);
	background-size:100%;
}

.btn3{
	background: url(../img/t2.png);
	background-size:100%;
}
.btn3s{
	background: url(../img/t2_on.png);
	background-size:100%;
}
.btn3:hover{
	background: url(../img/t2_on.png);
	background-size:100%;
}

.btn2{
	background: url(../img/t3.png);
	background-size:100%;
}
.btn2s{
	background: url(../img/t3_on.png);
	background-size:100%;
}
.btn2:hover{
	background: url(../img/t3_on.png);
	background-size:100%;
}

.btn1{
	background: url(../img/t4.png);
	background-size:100%;
}
.btn1s{
	background: url(../img/t4_on.png);
	background-size:100%;
}
.btn1:hover{
	background: url(../img/t4_on.png);
	background-size:100%;
}

#a0{
	display:block;
}
#a2{
	display:none;
}
#a3{
	display:none;
}
#a1{
	display:none;
}
/* .box{
	display: none;
} */